.add-form{
    text-align: center;
    font-family: 'Helvetica Neue' ;
    font-size: 18px;
}
input{
    margin-bottom: 15px;
    padding: 5px;
    font-family: 'Helvetica Neue' ;
    font-size: 15px;
}
.submit{
    font-family: 'Helvetica Neue' ;
    font-size: 16px;
    cursor: pointer;
    background-color: #2596B7;
    color: white;
    padding: 5;
}

.table-book{
    margin-left: 25%;
    font-family: 'Helvetica Neue' ;
    font-size: 16px;
    margin-top: 20px;
    border-collapse: collapse;
    width: 45%;
    
}

.header{
    font-size: 18px;
    font-weight: bold;
    
}

.title-header{
    padding-right: 50px;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }